#General Python & Virtual Environment Files
__pycache__/
*.py[cod]
*.so
*.log
*.db
venv/
.env
#Streamlit & Cache Files
.streamlit/
.db/
.history/
#IDE & Editor-Specific Files
.vscode/
.idea/
*.swp
#PDF Uploads & Large Files
uploads/
*.pdf
